test/test2/test2_SimpleTypeTest.xml

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
<xs:simpleType name="extendedInteger">
    <xs:restriction base="xs:integer">
      <xs:minExclusive value="0" />
      <xs:maxInclusive value="32" />
    </xs:restriction>
  </xs:simpleType>


<xs:element name="region" />
<xs:complexType>
  <xs:choice maxOccurs="unbounded">
 	<xs:element name="test" type="xs:string" minOccurs="0" />
	<xs:element name="test2" type="xs:integer" />
	<xs:element name="test3" type="extendedInteger" />
  </xs:choice>
  <xs:attribute name="version" type="xs:decimal" />
  <xs:attribute name="device_type" type="xs:string" />
  <xs:attribute name="descriptor_id" type="xs:integer" />
</xs:complexType>
<xs:element name="region">

</xs:element>

</xs:schema>

