test/test1/test1_ElementSequenceTest.xml

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
<xs:complexType name="region_t">
  <xs:sequence maxOccurs="1" >
 	<xs:element name="test" type="xs:string" minOccurs="0" maxOccurs="4" />
	<xs:element name="test2" type="xs:string" minOccurs="0" maxOccurs="3" />
  </xs:sequence>
  <xs:attribute name="version" type="xs:decimal" />
  <xs:attribute name="device_type" type="xs:string" />
  <xs:attribute name="descriptor_id" type="xs:integer" />
</xs:complexType>

<xs:element name="region" type="region_t" />

</xs:schema>



