test/test1/test1_SimpleContentTest.xml

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="scType">
	<xs:simpleContent>
	  <xs:extension base="xs:string">
		<xs:attribute name="testAttr" type="xs:integer" />
	  </xs:extension>
	</xs:simpleContent>
  </xs:complexType>

 <xs:complexType name="resType">
	<xs:simpleContent>
	  <xs:restriction base="xs:integer">
		<xs:totalDigits value="5" />
	  </xs:restriction>
	</xs:simpleContent>
  </xs:complexType>

 <xs:complexType name="nestresType">
	<xs:simpleContent>
	  <xs:restriction base="min5String">
		<xs:maxLength value="10" />
	  </xs:restriction>
	</xs:simpleContent>
  </xs:complexType>

<xs:simpleType name="min5String">
  <xs:restriction base="xs:string">
	<xs:minLength value="5" />
  </xs:restriction>
</xs:simpleType>

  <xs:complexType name="region_t">
    <xs:sequence>
	  <xs:element name="scElement" type="scType" minOccurs="0" maxOccurs="3" />
	  <xs:element name="resElement" type="resType" minOccurs="0" maxOccurs="2" />
	  <xs:element name="nestresElement" type="nestresType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="component_t">
    <xs:sequence>
      <xs:element name="region" type="region_t" />
    </xs:sequence>
  </xs:complexType>

<xs:element name="region" type="region_t" />
<xs:element name="component" type="component_t" />
</xs:schema>


